<div class="grid-container">
    <div class="hero-bild">
        <img src="/Hero-image.jpg" alt="Maines Bild">
    </div>
    <div class="Slogan">
        <h2>
            Hochwertige Produkte zu fairen Preisen.
        </h2> 
    </div>
    <div class="Top-Sales">
        <h3>
            TOP-Sales
        </h3>
    </div>
    <div class="Top-Waren-Karts">
        <div class="product-card">
            <img class="product-image" src="/sink1.jpg" alt="">
            <button class="btn">Details</button>
            <h2>15,99 €</h2>
            
        </div>
        <div class="product-card">
            <img class="product-image" src="/tap2.jpg" alt="">
            <button class="btn">Details</button>
             <h2>17,49 €</h2>
        </div>
        <div class="product-card">
            <img class="product-image" src="/toilet1.jpg" alt="">
            <button class="btn">Details</button>
            <h2>69,99 €</h2>
        </div>
        <div class="product-card">
            <img class="product-image" src="/sink3.jpg" alt="">
            <button class="btn">Details</button>
            <h2>87,90 €</h2>
        </div> 
        
    </div>
</div>