<div class="grid-container">
    <div class="hero-bild">
        <img src="/Hero-image.jpg" alt="Maines Bild">
    </div>
    <div class="Slogan">
        <h2>
            Hochwertige Produkte zu fairen Preisen.
        </h2> 
    </div>
    <div class="Top-Sales">
        <h3>
            TOP-Sales
        </h3>
    </div>
    <div class="Top-Waren-Karts">
        @for (item of filteredProducts; track item.id) {
          <div class="product-card">
            <img [src]="item.imageUrl" [alt]="item.name" class="product-image vier-card">
            <h4>{{ item.name }}</h4>
            <p class="price">{{ item.price }} €</p>
            <button class="btn" (click)="applyDetails(item)">Details</button>
         </div>
        }
    </div>
</div>