.grid-karta-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    min-width: 100%;  
    .product-image {grid-column: 1/2;} //левая колонка 
    .product-info  {grid-column: 2/3;} //правая колонка
}
.product-image{
    object-fit:cover;
    border-radius: 10%;
    border-color: var(--border-color);
    display: block;
    cursor: pointer;
    line-height: 15px;
}
.product-info{
    display:flex;
    flex-direction: column;
    gap: 6px;
    line-height: 7px;
}
.btn-card{
    align-self: flex-start;
    background-color: rgb(236, 43, 43);
    font-size: 1rem;
    padding: 10px 12px;
}