<div class="grid-karta-container">
    <div class="product-image">
        <img [src]="item.imageUrl" [alt]="item.name" class="product-image">        
    </div>
   
    <div class="product-info">
        <h1>{{item.name}}</h1>
        <h2>{{item.price}} €</h2>
        <h3>Hersteller: Firma "{{item.hersteller}}"</h3>
        <h3>Materialien: {{item.materialien}}</h3>  
        <h3>Farbe: {{item.farbe}}</h3>   
        <h3>Beschreibung: {{item.description}}</h3>   
        <button class="btn btn-card">In den Warenkorb</button>
        <h4>lieferbar - in 1-2 Werktagen bei dir</h4>              
    </div>
</div>

